body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1,6px;
    background-color: white;
}
section img{
    border: 1px solid black;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
    width: 400px;
}
main{
    margin: auto;
    max-width: 950px;
}
article{
    float: left;
    width: 660px;
}